
body {
  background-color: darkred !important;
}

 @media screen and (max-width:500px) {


  .choi-middle {
    text-align: center;
    color: antiquewhite;
    margin-top: 5px;
    margin-bottom: 40px;
    font-weight: 700;
  }

  #version {
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: 700;
    color: antiquewhite;
  }

  #myInput {
    position: relative;
    top: 18%;
    left: 15%;
    width: 75%;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #c8d1db;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    opacity: 90%;
    position: relative;
    top: 85px;
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  .test {
    width: 30%;
  }
}


@media screen and (min-width:501px) {
  .choi-middle {
    text-align: center;
    color: antiquewhite;
    margin-top: 5px;
    margin-bottom: 40px;
    font-weight: 700;
  }

  #version {
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: 700;
    color: antiquewhite;
  }

  #myInput {
    position: relative;
    top: 18%;
    width: 400px;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  .center{
    text-align: center;


  }

  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #c8d1db;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    opacity: 90%;
    position: relative;
    top: 85px;
  }

  #close{
    display: flex;
flex-direction: column;
align-items: center;
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  .test {
    width: 30%;
  }


}
